<% include ./facebookAPI/facebookSDK.ejs %>
<% include ./kakaoAPI/kakaoSDK.ejs %>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> 세 일 중 </a>
      </li>
    </ul>
    <p class="navbar-text">세일 중인 모든 상품을 주변 사람들에게 알릴 수 있습니다!</p>
    <ul id="navbar" class="nav navbar-nav navbar-right">
      <li>
        <a href="/register"><span class="glyphicon glyphicon-plus-sign"></span> 물건 등록 </a>
      </li>
      <li id="username">
        <a href="/login"><span class="glyphicon glyphicon-user"></span>Login</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  function changeNavbar(apihost) {
    $("#username").detach();
    $("#navbar").append('<li><a href="/admin"><span class="glyphicon glyphicon-user"></span>내 물건</a></li>');
    if (apihost === "facebook") {
      $("#navbar").append('<li><a href="#" onclick="FB.logout();"><span class="glyphicon glyphicon-user"></span>logout</a></li>');
    } else if (apihost === "kakao") {
      $("#navbar").append('<li><a href="/" onclick="Kakao.Auth.logout()"><span class="glyphicon glyphicon-user"></span>logout</a></li>');
    }
  }

</script>
