<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../../public/stylesheets/map.css %> <!-- Because google map api needs height attribute,  map.ejs needs map.css. -->
</head>
<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/map/map_index.ejs %> <!-- Because google map api needs height attribute,  map.ejs needs map.css. -->

  <div class="panel panel-success">
    <div class="panel-heading" align="center">주변사람들에게 알려줍니다</div>
    <div class="panel-body" align="center">
      물건을 등록하면 세일중을 이용하는 주변 사람들에게 푸쉬알림이 전해집니다.
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading" align="center">더욱 간편하게 이용하세요</div>
    <div class="panel-body" align="center">
      스마트폰 앱을 이용하면 더욱 쉽게 물건을 등록할 수 있습니다.
    </div>
  </div>


</body>
</html>
