<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../../public/stylesheets/map.css %> <!-- Because google map api needs height attribute,  map.ejs needs map.css. -->
</head>
<body>

  <% include ../partials/nav.ejs %>
  <% include ../partials/map/map_location.ejs %> <!-- Because google map api needs height attribute,  map.ejs needs map.css. -->

<div align="center">
  <br/>
  <button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
    마커를 판매할 장소로 옮기고 버튼을 누르세요.
  </button>
</div>

<div class="panel-body" align="center">
  <p>스마트폰 앱 "세일중" 을 이용하면 더욱 쉽게 물건을 등록할 수 있습니다.</p>
</div>



</body>
</html>
