<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/facebookAPI/facebookSDK.ejs %>
  <% include ../partials/kakaoAPI/kakaoSDK.ejs %>
  <% include ../partials/facebookAPI/facebookLoginButton.ejs %>
  <% include ../partials/kakaoAPI/kakaoLoginButton.ejs %>
</body>
</html>
