<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <% include ../partials/facebookLogin.ejs %>
  <% include ../partials/kakaoLogin.ejs %>
</body>
</html>
